

.bgNav{
    background-color: #1C0C5B;
}
.beige{
    color: beige;
}
.imgbg{
    background-image: url(../imgs/banner.avif);
    background-size: auto; 
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
.bg1{
    background-color: #3D2C8D;
}
@media (max-width: 800px) {
    .imgbg {
        background-image: url(../imgs/banner.avif);
        background-size: cover; 
        background-repeat: repeat;
        height: 100vh;
        background-attachment: fixed;

    }
  }
